.hidden{
    display:none;
    position:absolute;
    width: 2.7rem;
   right:0;
    text-align: left;}

.show{
    display:block;
    transition:2s all ease-in-out ;
    position:absolute;
    width: 2.7rem;
   right:0;
    text-align: left;
    right:2.2rem;
   
}


.headerIcon{
    /* position:relative */
}

.headerIcon li{
    font-size:0.7rem;
}

@media only screen and (min-width:200px) and (max-width: 768px) {
   .icon-fa{
    display:block;
   }
  }

  @media only screen and  (max-width: 900px) and (min-width: 769px) {
    .icon-fa{
    display:none
    };
    .flex{
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
   }


   .brand{
    color:#3A98B9;
    font-weight:bold;
  }